name: Auto Label PRs

on:
  pull_request_target:
    types:
      - opened
      - reopened

jobs:
  add-automerge-label:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - name: Add automerge label
        uses: actions/github-script@v7
        with:
          script: |
            const pr = context.payload.pull_request;
            await github.rest.issues.addLabels({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: pr.number,
              labels: ['automerge'],
            });
            core.notice(`Label 'automerge' added to PR #${pr.number}`);
