name: Android CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      # TESTS
      - name: Run unit tests
        run: ./gradlew test

        # Build solo si los tests anteriores pasan
      - name: Build debug APK
        run: ./gradlew assembleDebug

      - name: Build release APK
        run: ./gradlew assembleRelease

      - name: Upload debug APK
        uses: actions/upload-artifact@v4
        with:
          name: gopetalk-debug-apk-${{ github.sha }}
          path: app/build/outputs/apk/debug/app-debug.apk
          retention-days: 7

      - name: Upload release APK (unsigned if no signing config)
        uses: actions/upload-artifact@v4
        with:
          name: gopetalk-release-apk-${{ github.sha }}
          path: app/build/outputs/apk/release/*.apk
          retention-days: 7